In [3]:
import pandas
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import Ridge
from scipy.sparse import hstack
data = pandas.read_csv('salary-train.csv')
data['FullDescription'] = data['FullDescription'].map(lambda text: text.lower())
data['FullDescription'] = data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
vectorizer = TfidfVectorizer(min_df = 5)
X_train = vectorizer.fit_transform(data['FullDescription'])
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)
dictVectorizer = DictVectorizer()
X_train_one_hot = dictVectorizer.fit_transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_train = hstack([X_train, X_train_one_hot])

y_train = data['SalaryNormalized']
model = Ridge(alpha=1, random_state = 241)
model.fit(X_train, y_train)
data = pandas.read_csv('salary-test-mini.csv')
data['FullDescription'] = data['FullDescription'].map(lambda text: text.lower())
data['FullDescription'] = data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)

X_test = vectorizer.transform(data['FullDescription'])
X_test_one_hot = dictVectorizer.transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test = hstack([X_test, X_test_one_hot])

y_test = model.predict(X_test)

y_test

array([56571.48138865, 37139.25921724])

In [89]:
#вторая задача, 4 неделя
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
prices = pd.read_csv("close_prices.csv")
prices_X = prices.iloc[:,1:]
pca = PCA(n_components=10)
pca.fit(prices_X)

data_pca = pd.DataFrame(pca.transform(prices_X))
data_pca[0]

l = pca.components_[0]
np.amax(l)
print(np.argwhere(l == np.amax(l)))
#prices.iloc[:,26]
l
prices

[[26]]

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,2015-03-12,81.559998,152.039993,80.190002,28.240000,102.419998,80.400001,107.169998,25.400000,189.949997,...,34.000000,82.089996,33.130001,107.830002,114.879997,121.239998,269.579987,48.730000,81.900002,84.220001
370,2015-03-13,80.599998,151.570007,79.230003,27.940001,101.620003,80.499997,106.440002,25.040001,189.339996,...,34.000000,81.830002,32.759998,106.720001,115.250000,118.739998,265.029999,48.840000,81.900002,83.870003
371,2015-03-16,81.500000,153.669998,79.970001,28.299999,103.129997,77.069994,107.370003,25.450001,191.899994,...,34.439999,83.559998,33.060001,108.930000,118.519997,120.070000,269.019989,49.270000,83.290001,84.760002
372,2015-03-17,81.059998,154.509995,78.449997,28.150000,103.169998,74.680001,106.959999,25.309999,190.570007,...,34.169998,82.849998,32.900002,108.750000,117.599998,119.860001,264.500000,48.950001,82.620003,84.080002
373,2015-03-18,81.860001,155.729996,81.330002,28.150000,106.699997,76.009997,107.970001,25.639999,192.320007,...,34.380001,83.750000,33.590000,109.519997,119.959999,120.309998,267.670013,49.540001,82.529999,86.070000

In [78]:
djia = pd.read_csv("djia_index.csv")
djia.iloc[:,1]
np.corrcoef(data_pca[0], djia.iloc[:,1])

array([[1.        , 0.90965222],
       [0.90965222, 1.        ]])